//hjktyljамx

$redcolor: #ff0060;
$darkcolor: #222227;

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
h1 {
  font-size: 25px;
  text-decoration-line: underline;
}

 //header---------------------------
.header {
    background: $darkcolor;
   
   .logoa {
     min-width:130px;
     display: block;
    .logo{
        width: 70%;
        height: 70%;
        margin-top: 10px;
        margin-left: 10px;
 

    }
  }
    .nav {
        margin: 0 auto;
       
        &-item {
       
      
        transition: background-position-x 0.9s linear;
        text-align: center;
        height: 50px;
        
       
         &:last-child {
            margin-right: 0px;
         }
         a{
            
            font-size: 19px;
            color: #777;
            text-decoration: none;
            transition: all 0.45s;
            min-width: 100px;
            display: block;
         }

         &:hover {
            background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
            animation: line 1s;
          }

          &:hover a {
            color: #d94f5c;
          }
        
          &:not(:last-child) {
            margin-right: 20px;
          }
       
      
        }
        @keyframes line {
            0% {
              background-position-x: 390px;
            }
          }
    }

    .reg {
       
            &-item {
                background: #fff;
                margin-right: 20px;
                border-radius: 5px;
                border: 2px solid $redcolor;
                
               
                &:last-child {
                    margin-right: 0px;
                   
                }
               a{
                    
                  color:#222222;
                  min-width: 100px;
                  display: block;;
                  text-align: center;
                  &:hover {
                    background: $darkcolor;
                    color: #fff;
                    text-decoration: none;

                  }

                  
                }
               
              
            }
        
    }

}
//end header------------------------------

//---slider 2-----------------------------
#slider2 {
  padding-top: 20px;
  background: rgb(230, 230, 230);

  .slider2-item {
    cursor: pointer; 

    &:hover {
      border: 2px solid $redcolor;
    }

      
  }
  
}
//--content-----------------------



#filmLoad {
  margin-top: 30px;
  display:flex;
  // .film-poster {
   
    
  // }
  .film-overall {
    width: 100%;
    margin-top: 80px;
    min-width: 270px;
    .film-info {

      &-type-item {
        font-weight:bold;
      }
    }
    
    .film-descr {
  margin-top: 10px;
  margin-left: 15px;
  
    }
  }

}


.news {
  
  h1 {
    margin-top: 50px;
    font-size: 28px;
  }
}
// footer-----------------------------------------

.footer {
  background-color: $darkcolor;
  min-height: 100px;

  &-logo-container {
    height: 100px;
  }

  &-logo {
    color: $redcolor;
    width: 150px;
    margin-left: 20px;
  }

  .social-container {
    margin-left: 20px;
    .join {
      color:$redcolor;
    }
    .social-item {
      width: 48px;
      height: 48px;
      display: inline-block;

      
      &:nth-child(3) {
        background-image: url("../img/icons8-instagram-64.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      &:nth-child(2){
        background-image: url("../img/icons8-vkontakte-48.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
      &:last-child{
        background-image: url("../img/icons8-youtube-48.png");
        background-size: cover;
        background-repeat: no-repeat;
      }
    }
  }
}

//--book--page---------------------------------------------
.book-choice {
  margin-top: 15px;

  #datepicker {
    width: 300px;
    margin: 0 auto;
  }

.book-choice-cinema-container {
  display: flex;
  justify-content: space-between;
  .cinema-info {
    width:250px;
    height:170px;
    background-repeat: no-repeat;
    background-size: cover;


    &:first-child {
      background-image: url('../img/cinema/bovlevard.jpg');

      
    
    }
    &:nth-last-child(2) {
      background-image: url('../img/cinema/exterior.jpg');
    }
    &:last-child {
      background-image: url('../img/cinema/odeon.jpg');
    }

    &:hover {
      filter: grayscale(100%) sepia(100%);
    }
    
  }
  .cinema-active {
    border: 1px solid $redcolor;
  }
}
}

#book-time-hall {
  margin-top: 40px;
  h1 {
    width: 100%;
  }
  
  .book-time {
    border: 3px solid $redcolor;
    margin-bottom: 5px;
    border-radius: 5px;
    &-item {
      display:inline-block;
      width: auto;
      height: auto;
      border:2px solid #777;
      border-radius: 7px;
      vertical-align: middle;
      padding: 5px;
      margin-top: 10px;
      color: #777;
      text-align: center;
      font-size: 15px;
      font-weight:bold;
      margin: 0 5px;

      &:hover {
        text-decoration: none;
        font-weight:bold;
        border-color: $redcolor;
        color:$redcolor;

      }
    }
  }
  
 
}
//--end book page-----------------

//-hall page-----------------------------------


#book-hall {
  min-height: 700px;
  background: #000;

  .hall-big {
    position: relative;
    margin: 0 auto;
    width: 1000px;
    height: 600px;
    background: #fff;

    .hall-main  {
      position: absolute;
      top:20px;
      left:55px;
      width: 880px;
      height:460px;
      background-image: url('../img/hall/big.png');
      z-index: 1;

      .vip-color {
        background-color:$redcolor;
        border: none;
      }
      .custom-color {
        background-color: rgb(165, 161, 161);
        border: none;
      }
      

    }

    .space, .item {
      position :absolute;
      left: 30px;
      top: 85px;
      width: 25px;
      height:25px;
      background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pgo8IS0tIEdlbmVyYXRvcjogQWRvYmUgSWxsdXN0cmF0b3IgMTYuMC4wLCBTVkcgRXhwb3J0IFBsdWctSW4gLiBTVkcgVmVyc2lvbjogNi4wMCBCdWlsZCAwKSAgLS0+CjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+CjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiBpZD0iQ2FwYV8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjI0cHgiIGhlaWdodD0iMjRweCIgdmlld0JveD0iMCAwIDQ5LjE2IDQ5LjE2IiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA0OS4xNiA0OS4xNjsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8Zz4KCTxnPgoJCTxnPgoJCQk8cGF0aCBkPSJNNDMuNTgsMjIuNTc3Yy00LjQxMSwwLTgsMy41ODktOCw4djEuNDYxYy0xLjc3MS0wLjYzMy01LjE5Ny0xLjQ2MS0xMS0xLjQ2MWMtNS44MDMsMC05LjIyOCwwLjgyOC0xMSwxLjQ2MXYtMS40NjEgICAgIGMwLTQuNDExLTMuNTg5LTgtOC04Yy0yLjc1NywwLTUsMi4yNDMtNSw1YzAsMi4wMjMsMS4yMDgsMy44MzgsMy4wNzksNC42MTdjMC41NiwwLjIzNCwwLjkyMSwwLjc3NywwLjkyMSwxLjM4M2wxLDQgICAgIGMwLDMuNTksMi43MTksNi41NTUsNi4yMDYsNi45NTJjLTAuODIxLDAuMzkyLTEuMzkzLDEuMjI0LTEuMzkzLDIuMTkyYzAsMS4zNDgsMS4wOTIsMi40MzgsMi40MzgsMi40MzhzMi40MzgtMS4wOTIsMi40MzgtMi40MzggICAgIGMwLTAuOTM0LTAuNTMyLTEuNzM0LTEuMzA0LTIuMTQ2aDIxLjIzM2MtMC43NzIsMC40MDktMS4zMDQsMS4yMTEtMS4zMDQsMi4xNDZjMCwxLjM0OCwxLjA5MiwyLjQzOCwyLjQzOCwyLjQzOCAgICAgczIuNDM4LTEuMDkyLDIuNDM4LTIuNDM4YzAtMC45Ny0wLjU3MS0xLjgwMi0xLjM5NC0yLjE5MmMzLjQ4NC0wLjM5Nyw2LjIwMy0zLjM2Miw2LjIwMy02Ljk1MmwxLTQgICAgIGMwLTAuNjA2LDAuMzYxLTEuMTQ3LDAuOTIxLTEuMzgzYzEuODcxLTAuNzc4LDMuMDc5LTIuNTk0LDMuMDc5LTQuNjE3QzQ4LjU4LDI0LjgyLDQ2LjMzNywyMi41NzcsNDMuNTgsMjIuNTc3eiIgZmlsbD0iIzAwMDAwMCIvPgoJCQk8cGF0aCBkPSJNMTYuMzMsMjguMjM5YzIuMDgxLTAuMzgsNC43OS0wLjY2Miw4LjI1LTAuNjYyczYuMTY5LDAuMjgyLDguMjUsMC42NjJjMC43ODYtMy42MiwzLjM2My02LjU3NCw2Ljc1MS03LjkwMVYxNSAgICAgYzAtOC4yODQtNi43MTYtMTUtMTUuMDAxLTE1Yy04LjI4NCwwLTE1LDYuNzE2LTE1LDE1djUuMzM5QzEyLjk2NywyMS42NjYsMTUuNTQ0LDI0LjYyLDE2LjMzLDI4LjIzOXoiIGZpbGw9IiMwMDAwMDAiLz4KCQk8L2c+Cgk8L2c+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPGc+CjwvZz4KPC9zdmc+Cg==);
      background-size: cover;
      background-color:transparent;
      border: 1px solid #000;
      z-index: 5;
    }
  }

}






@import "media.scss";
