<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.css">
    <link rel="stylesheet" href="css/main.css">
    <title>Topfilms</title>

</head>
<body>
    
    <div class="container-fluid">
        <div class="header">
   
        <div class="row">
            <div class="col-md-2 ">
                 <a href="/" class="logoa"><img class="logo rounded-right" src="img/logo3.png" alt="" >   </a>
            </div>
            <div class="col-md-6 d-flex align-self-center">
                
               
                <ul class="nav d-flex flex-column flex-md-row" >
                    <li class="nav-item"><a href="#">Кинотеатры</a></li>
                    <li class="nav-item"><a href="#">Скоро в кино</a></li>
                    <li class="nav-item"><a href="/book">Забронировать!</a></li>
                 </ul>
              
            </div>
            <div class="col-md-3 d-flex align-self-center">
                <ul class="reg d-flex justify-content-between" id="reg">
                    <li class="reg-item"><a href="#">Регистрация</a></li>
                    <li class="reg-item"><a href="#">Войти</a></li>
                </ul>
                

            </div>
        </div>
    </div>
</div>
<div class="container">
      <div id="slider2" class="owl-carousel owl-theme">
        <img src="img/posters/Дыши во мгле.jpg" alt="" class="slider2-item" data-name="дыши во мгле" style="width:200px; height:300px;">
        <img src="img/posters/Мстители:война бесконечности.jpg" alt="" class="slider2-item" data-name="мстители война бесконечности" style="width:200px; height:300px;">
        <img src="img/posters/Собибор.jpg" alt="" class="slider2-item" data-name="собибор" style="width:200px; height:300px;">
        <img src="img/posters/Такси 5.jpg" alt="" class="slider2-item" data-name="такси5" style="width:200px; height:300px;">
        <img src="img/posters/Танки.jpg" alt="" class="slider2-item" data-name="танки" style="width:200px; height:300px;">
        <img src="img/posters/Титан.jpg" alt="" class="slider2-item" data-name="титан" style="width:200px; height:300px;">
        <img src="img/posters/Тренер.jpg" alt="" class="slider2-item" data-name="тренер" style="width:200px; height:300px;">
    </div>
</div>
<div class="container-fluid">
    <section class="content">
        <div class="row">
            <div class="col-xl-7 col-md-12" >
                <div id="filmLoad">
                   <div class="row">
                        <div class="col-md-4">
                             <div class="film-poster">
                                <h1>Собибор</h1>
                                <img src="img/posters/Собибор.jpg" alt=""  style="width:250px; height:360px;">
                             </div>
                        </div>
                        <div class="col-md"> 
                             <div class="film-overall">
                                <div class="film-info d-flex justify-content-around">
                                    <div class="film-info-type">
                                        <div class="film-info-type-item ">Год:</div>
                                        <div class="film-info-type-item ">Страна:</div>
                                        <div class="film-info-type-item ">Режиссер:</div>
                                        <div class="film-info-type-item ">Жанр:</div>
                                        
                                    </div>
                                    <div class="film-info-value">
                                        <div class="film-info-value-item film-year">2018</div>
                                        <div class="film-info-value-item film-country">Россия</div>
                                        <div class="film-info-value-item film-director">Константин Хабенский</div>
                                        <div class="film-info-value-item film-genre">военный, драма</div>
                                    </div>
                                </div>
                        <div class="film-descr">История сопротивления человеческого духа бездушной машине уничтожения. В октябре 1943 года заключённые лагеря Собибор во главе с лейтенантом Красной Армии Александром Печерским поднимают восстание — единственное успешное восстание в нацистском лагере смерти.</div>
                    </div></div>
                   </div>
                </div>
            </div>
            <div class="col-xl-5 col-md-12">
                <div class="news">
                    <h1>Первая реакция на фильм «Дэдпул 2»</h1>
                    <div class="news-content">
                        <img src="img/deadpool.jpg" alt="" style="width:80%; height:auto;">
                        <p>
                            
                            «С радостью могу заявить, что „Дэдпул 2“ — очень веселый, и я смеялся на протяжении всего просмотра, — пишет Стивен Вайнтрауб из Collider. — Все, что после титров, просто потрясающе. Все, кого добавили в фильм, — отличный кастинг. Избегайте спойлеров. Вам от этого будет только лучше».</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="container-fluid">
    <div class="footer">
        <div class="row">
            <div class="col-md d-flex align-items-center">
                <div class="social-container d-flex justify-content-start">
                    <div class="join d-flex align-items-center">Присоединяйтесь!</div>
                    <a href="#" class="social-item"></a>
                    <a href="#" class="social-item"></a>
                    <a href="#" class="social-item"></a>
                </div>
            </div>
            <div class="col-md-3 justify-content-center ">
               <div class="footer-logo-container d-flex align-items-center">
                    <div class="footer-logo">
                        © CINEMAHOLICS
                    </div>
               </div>
            </div>
        </div>
    </div>
</div>
 


 <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
 <script src="js/owl.carousel.min.js"></script>
 <script src="js/main.js"></script>
</body>
</html>